/* ---------------------------------------------------------------- */
/* 05.Animations                                                     
/* ---------------------------------------------------------------- */
@keyframes stickyMenu {
	0% {
		margin-top: -120px;
		opacity: 0;
	}
	50% {
		margin-top: -64px;
		opacity: 0;
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}
@keyframes preLoader {
    0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
    }
    100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
    }
}